<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container">
		<h1 class="text-info" th:text="${titulo}"></h1>
		<div th:object="${cliente}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="${edit} ? @{/update/}+${cliente.id} : @{/create}"
			th:object="${cliente}" th:method="${edit} ? 'PUT' : 'POST'" enctype="multipart/form-data">
			<div class="form-group">
				<label for="nombre" th:text="#{text.cliente.nombre}">Nombre del cliente</label> <input type="text"
					th:field="*{nombre}" class="form-control" id="nombre"> <small class="text-danger"
					th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
			</div>
			<div class="form-group">
				<label for="apellido" th:text="#{text.cliente.apellido}">Apellido del cliente</label> <input
					type="text" th:field="*{apellido}" class="form-control"
					id="apellido"> <small
					class="text-danger" th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}"></small>
			</div>
			<div class="form-group">
				<label for="email" th:text="#{text.cliente.email}">Correo Electrónico</label> <input type="email"
					th:field="*{email}" class="form-control" id="email"> <small class="text-danger"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
			</div>
			<div class="form-group">
			<label for="image" th:text="#{text.cliente.foto}">Foto de perfil</label>
			<input type="file" name="image" id="image" class="form-control"/>
<!-- 			<small class="text-danger" -->
<!-- 					th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></small> -->
			</div>
			<button type="submit" class="btn btn-primary" th:text="${titulo}">Guardar
				Cliente</button>
		</form>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>