<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container">
		<h1 th:text="${titulo}" class="text-primary"></h1>
		<a th:href="@{/create}" class="btn btn-info">Nuevo Cliente</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Fecha</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createdAt}"></td>
					<td><a th:href="@{'cliente/'}+${cliente.id}"
						class="btn btn-info">Ver</a> <a th:href="@{'edit/'}+${cliente.id}"
						class="btn btn-success">Editar</a>
						<form th:action="@{'delete/'}+${cliente.id}" method="POST">
							<button type="submit" class="btn btn-danger">Eliminar</button>
						</form></td>
				</tr>
			</tbody>
		</table>
		<nav th:replace="layout/paginator-nav::paginator"></nav>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>