<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>

    <div id="i18n_eliminar_factura" th:text="#{text.cliente.factura.eliminarOk}" style="display: none;"></div>

	<header th:replace="layout/layout::header"></header>
	<div class="container">
		<h1 class="text-success" th:text="${titulo}"></h1>
		<table>
			<tr>
				<td th:if="${cliente.foto != null}"><img
					th:src="@{/uploads/}+${cliente.foto}"
					class="rounded float-left h-25 w-25" alt=""></td>
			</tr>
			<tr>
				<th>ID</th>
				<td th:text="${cliente.id}"></td>
			</tr>
			<tr>
				<th th:text="#{text.cliente.nombre}">Nombre</th>
				<td th:text="${cliente.nombre}"></td>
			</tr>
			<tr>
				<th th:text="#{text.cliente.apellido}">Apellido</th>
				<td th:text="${cliente.apellido}"></td>
			</tr>
			<tr>
				<th th:text="#{text.cliente.email}">Email</th>
				<td th:text="${cliente.email}"></td>
			</tr>
			<tr>
				<th th:text="#{text.cliente.createAt}">Fecha de creación</th>
				<td th:text="${cliente.createdAt}"></td>
			</tr>
			<tr>
			<td><a class="btn btn-info" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{'/factura/'}+${cliente.id}+@{'/create'}" th:text="#{text.cliente.factura.crear}">Crear factura</a></td>
			<td><a class="btn btn-success" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{'/edit/'}+${cliente.id}" th:text="#{text.cliente.editar}">Editar Cliente</a></td>
			</tr>
			
		</table>
	</div>
	<div class="container alert alert-info my-4"
		th:if="${#lists.isEmpty(cliente.facturas)}"
		th:text="'No hay facturas asignada a este cliente'"></div>
	<div class="container">
		<table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-striped table-bordered my-4">
			<thead class="bg-info text-white">
				<tr>
					<th scope="col" th:text="#{text.cliente.factura.folio}">Folio</th>
					<th scope="col" th:text="#{text.cliente.factura.descripcion}">Descripción</th>
					<th scope="col" th:text="#{text.cliente.factura.fecha}">Fecha</th>
					<th scope="col" th:text="#{text.cliente.factura.total}">Total</th>
					<th scope="col" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="#{text.cliente.factura.eliminar}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="factura : ${cliente.facturas}">
					<th scope="row">
					<a class="btn btn-info" th:href="@{'/factura/show/'+${factura.id}}" th:text="${factura.id}"></a>
					</th>
					<td th:text="${factura.descripcion}"></td>
					<td th:text="${factura.createAt}"></td>
					<td th:text="${factura.total}"></td>
					<td th:if="${#authorization.expression('hasRole(''ADMIN'')')}" >
						<form th:action="@{'/factura/delete/'+${factura.id}}" method="POST">
						<button type="submit" class="btn btn-danger" th:text="#{text.cliente.factura.eliminar}"
								onclick="return confirm(document.getElementById('i18n_eliminar_factura').innerHTML);">Eliminar</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>